h1{
	color:white;
	bdackground-color:lightgreen;
	border:8px solid violet;
	padding: 5px;
	border-radius: 15px;
	text-align: center;
	background-image: -moz-linear-gradient(top, white, green);

}

p, h1{
	font-family: cursive;
}
p{
	font-size:5em;
	color:white;
}

p, img, button{
	margin-left: 50px;
}

body{
	background: red; /* For browsers that do not support gradients */
    background: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid green;
    padding: 16px 32px;
    text-align:center; 
    font-size: 20px;
    margin: 4px 2px;
}

.button:hover {
    background-color: green;
    color: white;
}
